<html>
<body>
<form id="webdev-content-admin-block" method="post"
    action="{{ path('webdev_content_admin_block', {
        'route': page.route,
        'placeholder': block.placeholder}) }}">
    {{ form_widget(form) }}
    <input type="submit" value="Save" />
</form>
{% if app.request.isXmlHttpRequest %}
<script type="text/javascript">
(function($){
    $(document).on('submit', '#webdev-content-admin-block', function(event){
        for(i in CKEDITOR.instances) CKEDITOR.instances[i].updateElement();
        $.ajax({{ path('webdev_content_admin_block', {
            'route': page.route,
            'placeholder': block.placeholder,
            '_format': 'json'
        })|json_encode|raw }},{
            type: "POST",
            data: $(this).serialize(),
            dataType: 'json',
            success: function(){
                window.location.reload();
            }
        });

        event.preventDefault();
    });
})(jQuery);
</script>
{% endif %}
</body>
</html>